{% extends 'base.html' %}

{% block content %}

	{% if ticker %}
		{{ ticker }}
	{% endif %}
	{% if api %}
		{% if api == 'Error....' %}
			Error in fetching details. Please check the urls.
		{% else %}
			{%for data in api%}
				<h2>{{data.companyName}}</h2><br/>
				Price : $ {{data.latestPrice}}<br/>
				Previous Close : {{data.previousClose}}<br/>
				Market Cap : {{data.marketCap}}<br/>
				YTD Change : {{data.ytdChange}}<br/>
				52Wk High : {{data.week52High}}<br/>
				52Wk Low : {{data.week52Low}}<br/>
			{% endfor %}
		{% endif %}
	{% endif %}

{% endblock %}